<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form th:method="post" th:action="@{/new}" th:object="${user}">
  <div>
    <label for="username">Name</label>
    <input type="text" th:field="*{username}" id="username"/>
    </br>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password"/>
    </br>
    <label>Roles:</label>
    <select id="roles" name="roles" th:field="*{roles}" multiple>
      <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
    </select>
    <input type="submit" value="Add User">
  </div>
</form>
</body>
</html>